


<ion-content class="profile-content" style="text-align: center;">
  <ion-row class="user-details-wrapper">
    <ion-col size="6" class="user-image-wrapper">
      <img class="user-image">foto
    </ion-col>
    <ion-col class="user-info-wrapper" size="12">
      <h3>Arda Kerem Yolcu</h3>
      <p>@ardakerem</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4>E-Posta</h4>
      <p>
        arda@mail.com
      </p>
    </ion-col>
    <ion-col size="12">
      <h4>Rol</h4>
      <p>
        Admin
      </p>
    </ion-col>
    <ion-col size="12">
      <h4>Gönderiler</h4>
      <p>
        ...
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="outline" color="primary">Çıkış Yap</ion-button>
    </ion-col>
  </ion-row>
</ion-content>